/* CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Main */
body {
	background:#f5f5f5;
	font-family: 'Raleway', sans-serif;
	font-size:17px;
}

h1 {
	float:left;
	margin:30px 0;
	font-size:31px;
	color: #000;
}
h1 a {
	color:#000;
	text-decoration:none;
}
h1 a span {
}
h1.hero {
	color:#fff;
	float:none;
	text-align:center;
	font-size:72px;
	font-weight:bold;
}
a:hover {
    color: #565758;
}
@media all and (max-width: 700px) {
	body h1.hero {
		font-size:42px;
	}
	body h1 {
		margin: 30px auto;
		float:none;
		text-align:center;
	}
	body ul.nav li {
		float:none;
		display:block;
	}
	body ul.nav {
		float:left;
	}
}
h2 {
	margin-top:20px;
	margin-bottom:30px;
	font-size:26px;
	text-align:center;
	font-family: 'Questrial', sans-serif;
	letter-spacing:6px;
	clear:both;
}
h2 {
	letter-spacing:2px;
}
h3 {
	font-size:24px;
	margin-bottom:10px;
}
body .wrapper.features-area {
	margin:30px auto;
}
body .wrapper-login {
	margin:30px auto;
	max-width:400px;
	width:100%;
	color:#fff;
}
body .wrapper-login h1 {
	text-align:center;
	color: #fff;
}
body .wrapper .message{
	background:#00aa00;
	color:#fff;
	padding:10px;
	margin-bottom:20px;
}
body .wrapper-login .error{
	margin-bottom:20px;
	padding:10px;
	background:#aa0000;
	color:#fff;
}

body .wrapper-login label,  body .wrapper-login label input {
	font-size:20px;
	width:100%;
}

.features-area h3 {
	margin: 30px 0 10px 0;
	text-align:center;
}
hr {
	max-width:50px;
	border-bottom:1px solid #000;
	width:100%;
	margin-bottom:40px;
}
h4 {
	font-size:22px;
	margin-bottom:10px;
}
h3 span {
	color: #fff;
	background:#5cace2;
	padding:10px;
}
a {
	color:#0000ff;
}
p{
	margin-bottom:10px;
}
body .wrapper {
	margin: 0 auto;
	max-width:1024px;
	width:100%;
	padding:10px;
	box-sizing:border-box;
}

body .wrapper.right {
	margin: 0 auto;
	max-width:1024px;
	width:100%;
	text-align:right;
}

.coming-soon {
	color:#ff4444;
}
ul.nav {
	float:right;
}
ul.nav li{
	margin:40px 0;
	float:left;
	padding-left:30px;
}
ul.nav li a{
	color:#565758;
	text-decoration:none;
}

.parallax-window {
	width:100%;
	height:600px;
	padding:100px 0 0 0;
	color: #fff;
	box-sizing:border-box;
	clear:both;
}
.parallax-window.sub {
	width:100%;
	height:150px;
	padding:20px 0 0 0;
	color: #fff;
	box-sizing:border-box;
}
.download-hero {
	margin-top:-5px;
	padding:30px;
	box-sizing:border-box;
	background: #585f8c;
	color:#fff;
}
.button {
	max-width:200px;
	display:block;
	border: 1px solid #fff;
	padding: 10px;
	text-decoration:none;
	color:#fff;
	background: #484f6c;
	margin: 30px auto;
	text-align:center;
}
.login-button, .save-button {
	padding:20px;
	display:block;
	float:right;
	clear:both;
	cursor:pointer;
	font-size:20px;
}

.nav .button {
	margin:-10px 0 0 0;
}
ul.nav li a.button {
	color:#fff;
}
.button:hover, ul.nav li a.button:hover {
	border: 1px solid #484f6c;
	color:#484f6c;
	background: #fff;
}
body ul.nav li a.button:hover, body a.button.download-theme, body a.button.save-button:hover {
	border: 1px solid #484f6c;
}
a.button.download-theme {
	float:right;
}
.letspa {
	letter-spacing:3px;
}
.feature-box {
	padding:30px;
	box-sizing:border-box;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
	max-width:250px;
	width:100%;
	margin-left:50px;
	margin-bottom:50px;
	float:left;
	min-height:300px;
	line-height:20px;

}
.feature-box h4 {
	font-weight:bold;
}
.feature-box p {
	line-height:26px;
}
.feature-box.first {
	clear:left;
	margin-left:0;
}
.left-col {
    max-width: 250px;
    width: 100%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 300px;
    left: 0;
    height: 0;
    z-index: 9999;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: #d4d4d4 0px 0px 26px 0px;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.t80 {
	width:100%;
	max-width:70%;
	float:left;
}
.left-col .letspa {
	color:#565758;
}
.left-col a {
	display:block;
	text-decoration:none;
	color:#565758;
	margin-bottom:5px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.left-col a:hover {
	text-decoration:underline;
}
.left-col .branch {
	margin:30px 0 20px 0;
}
.content{
	float:left;
	box-sizing:border-box;
	padding:20px;
	max-width: 750px;
	margin:0 auto;
}
.docs-list .head {
	text-align:left;
	font-weight:bold;
	font-size:14px;
	background: #ccc;
	display:block;
	padding:20px;
	box-sizing:border-box;
}
.docs-list.content {
	width:100%;
	padding-left:300px;
	box-sizing:border-box;
	max-width:none;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.plugin-box {
	margin-top:30px;
	max-width:300px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
}
.theme-box {
	margin-top:30px;
	max-width:1024px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	background:#fff;
	border:1px solid #fff;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
}
.plugin-box h2, .theme-box h2 {
	letter-spacing:2px;
}

.credit {
	margin-top:30px;
	max-width:300px;
	width:100%;
	padding:20px;
	box-sizing:border-box;
	min-height:300px;
	box-shadow: #d4d4d4 0px 0px 26px 0px;
	float:left;
}
.credit.large {
	margin-left:30px;
	max-width:600px;
}
.credit img {
	width:100%;
}
.post .description {
	float:left;
	margin-top:30px;
	padding:20px;
	box-sizing:border-box;
	font-size:20px;
	max-width:600px;
	width:100%;
}

.about-page p {
	padding:0 20px;
	font-size:20px;
	margin-bottom:10px;
	line-height:30px;
}
.theme-box h2 {
	text-align:left;
}
.theme-box img {
	width:100%;
}


/* New Admin */

.login-input {
	width:100%;
}

.login-input span {
	width:100%;
}

.login-input input {
	padding:10px;
	box-sizing:border-box;
	width:100%;
}

#pie {
	margin: 30px auto 30px auto;
	max-width:500px;
	width:100%;
	float:left;
}

.wrapper.admin-panel {
	margin-top:-10px;
}
.admin-panel ul li {
	margin: 0 0 0 0;
}
.admin-panel ul li a {
	padding: 5px;
	display:block;
}
.admin-panel ul li a:hover {
	background: #aaaaff;
	text-decoration:none;
}
.forge-option-block {
	width:100%;
	max-width:150px;
	float:left;
	padding:20px;
	box-sizing:border-box;
	margin-left:20px;
	min-height:270px;
}
.forge-option-block.cl {
	
}
.forge-option-block:hover {
	background: #ccc;
	cursor:pointer;
}
.forge-option-block .ico {
	text-align:center;
	min-height:130px;
}
.panel-container {
	
}

.panel-container a {
	color: #565758;
	text-align:center;
	text-decoration:none;
	font-size:24px;
	display:block;
}
.panel-container p {
	padding-left:60px;
	padding-top:30px;
}
body .wrapper h2 {
	text-align:left;
}
.forge-title, .forge-url, .datepicker, .forge-shortcode, .price, .saleprice, .currency, .inventory, .fieldname, .field_type, .custom {
	width:100%;
	padding:10px;
	font-size:20px;
	box-sizing:border-box;
}
.required span {
	margin-right:20px;
	float:left;
	display:block;
	height:30px;
	width:30px;
	background: transparent url(/core/admin/files/img/required.png) top left;
	background-size:30px 30px;
}
.select2 {
	line-height:40px;
	font-size:20px;
}

.row {
	cursor:pointer;
	clear:both;
	padding:5px 10px 5px 10px;
}
.cell {
	display:block;
	float:left;
	max-width:250px;
	width:100%;
	line-height:25px;
	font-size:20px;
}
.row:hover{
	background:#fff;
}
.head {
	border-bottom:1px solid #565758;
}
input.head {
	border:1px solid #565758;
}
.head .cell{
	font-weight:bold;
}
.breadcrumbs {
	margin-top:10px;
	margin-bottom:20px;
}
.row .operations, .head .operations {
	width:100%;
	max-width: 330px;
	float:right;
}
.row .cell.filename {
	max-width: 500px;
}
.field-head {
	float:left;
}
.field-head, .field-val {
	width:100%;
	float:left;
}
.field-head .custom.head {
	float:left;
	width:40%;
}
.field-head .custom.value {
	float:right;
	width:48%;
}

.rowoutput .field-val {
	float:right;
}
.field-sample {
	clear:both;
}
.button.add-new, .privacy-wrap{
	float:left;
	clear:both;
}
.input-col {
	max-width:420px;
	clear:left;
	float:left;
	margin-bottom:20px;
	width:100%;
}
.input-col2 {
	margin-left:30px;
	max-width:500px;
	float:right;
	clear:right;
	width:100%;
}
.template-placeholder {
	clear:both;
}
.add-button-custom {
	clear:both;
	float:left;
}
#template-placeholder label {
	margin-top:10px;
}
.liquid {
	width:100%;
	max-width:100%;
	padding:30px;
	box-sizing:border-box;
}

.field-head {
	margin-bottom:20px;
}
.del-button {
	color:#ff0000;
	text-decoration:none;
	margin-left:10px;
	padding:5px;
	border:1px solid #ff0000;
	float:right;
	font-size:20px;
	line-height:35px;
	box-sizing:border-box;
}
.del-button:hover {
	color:#fff;
	background: #ff0000;
}
.add-button-wrapper {
	clear:both;
	float:left;
}
#media-gallery {
	width:100%;
}
#media-gallery img {
	float:left;
	max-width:300px;
	width:100%;
	max-height:300px;
}
#media-gallery figure {
	margin-right:50px;
	box-sizing:border-box;
	min-height:150px;
}
#media-gallery figcaption {
	padding:60px 10px 0 10px;
	box-sizing:border-box;
}
#media-gallery figcaption input {
	padding:5px;
	width:100%;
	box-sizing:border-box;
}
audio, video {
	max-width:500px;
	width:100%;
	border-left:1px solid #565758;
	margin-bottom:20xp;
}
.wrap-shadow{
	box-shadow:5px 5px 5px #565758;
	max-width:501px;
	width:100%;	
	box-sizing:border-box;
	margin-bottom:30px;
}
#audio-gallery .title, #video-gallery .title {
	max-width:500px;
	width:100%;	
	border-top:1px solid #565758;
	border-left:1px solid #565758;
	box-sizing:border-box;
}
#audio-gallery .title input, #video-gallery .title input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	border:none;
}
.docs-list h2 {
	text-align:left;
}
.forge-page-drop {
	padding:50px;
	min-height:250px;
	width:100%;
	background: #ddd url(/core/admin/files/img/drop-here.png) center center no-repeat;
	box-sizing:border-box;
	margin-bottom:40px;
	border: 2px dashed #000;
}
.forge-page-drop {
	padding:20px;
	min-height:550px;
	max-width:400px;
	width:100%;
	background: #ddd url(/core/admin/files/img/drop-here.png) center center no-repeat;
	box-sizing:border-box;
	border: 2px dashed #000;
	float:left;
	display:block;
}
.dz-message {
	font-size:14px;
}
.video-host {
	font-size:22px;
}

.video-host li {
	margin-bottom:30px;
	box-shadow:5px 5px 5px #565758;
	max-width:200px;
	width:100%;
}
.video-host li img {
	max-width:200px;
	width:100%;
}
#video-gallery p {
	background:#fff;
	padding: 0px 0 20px 10px;
	margin:0;
}

.dz-error-mark, .dz-success-mark {	
	display:none;
}

.dz-preview {
	max-width:150px;
	width:100%;
	min-height:100px;
	float:left;
	margin: 0 20px 20px 0;
}

#media-gallery .del-media {
	top:auto !important;
	left:auto !important;
	position:absolute !important;
	bottom:10px !important;
	right:10px !important;
	display:block;
	height:32px !important;
	width: 32px !important;
}
#media-gallery .del-media img, #media-gallery .open-media img {
	height:32px !important;
	width: 32px !important;
}
#media-gallery .open-media {
	top:auto !important;
	left:10px !important;
	position:absolute !important;
	bottom:10px !important;
	right:auto !important;
	display:block;
	height:32px !important;
	width: 32px !important;
}

.forged .delete {
	color:#ff0000;
	text-decoration:none;
}
.forged .delete:hover {
	color:#ff5555;
	text-decoration:underline;
}
.chk.cell {
	max-width:30px;
}
.operations.cell a{
	text-decoration:none;
}
.operations.cell a:hover{
	text-decoration:underline;
}
.left-col
{
	margin-left: 30px;
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


.left-col::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.left-col::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.left-col::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,	
									   left top,
									   color-stop(0.44, #484f6c),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption, [class*=" imghvr-"], [class^=imghvr-] {
	background-color: #484f6c;
}

body .wrapper label .frmhead, body .wrapper label .frmtype, body .wrapper label .frmval {
	display:inline-block;
	float:left !important;
	width:25% !important;
	padding:10px;
	margin-right:30px;
	font-size:20px;
}
body .forge-private {
	font-size:20px;
}
.action-box {
	margin:10px 0;
}

.lang .head {
	max-width:50px;
	width:100%;
}

.lang .mid {
	margin-left:30px;
	max-width:300px;
	width:100%;
}
.descr p {
	margin-top:20px;
}
strong {
	font-weight:bold;
}

/* Menu */
.items {
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 0;
}
.item {
    background: #fff;
    border: 1px solid #ddd;
    cursor: move;
    height: 70px;
    line-height: 70px;
    padding: 0 10px;
}
.item img {
	padding-top:20px;
	float:left;
	display:inline-block;
	margin-right:10px;
	width:30px;
}
.item .del-button {
	margin-top:10px;
}
.second-level {
    margin-left: 50px;
}
.dragHover {
    border-color: blue;
    color: blue;
}
.placeholder {
    background: #fff;
    border: 1px dashed #ccc;
    height: 70px;
}

.placeholder-sub {
    background: #fff;
    border: 1px dashed #ccc;
    height: 70px;
    margin-left: 50px;
}
.items-container {
	margin-top:30px;
	padding: 0;
	position:relative;
}
.url-opt {
	padding-left:30px;
}
.page-opt {
	padding-left:30px;
}
.optclick {
	max-width:170px;
	width:100%;
}
.menu-input {
	padding:5px;
	font-size:16px;
}
.lang-select {
	font-size:20px;
	padding: 10px;
	min-width:200px;
}